/* apply a natural box layout model to all elements, but allowing components to change */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
      url('/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-weight: 800;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'qultureicons';
  src:  url('/fonts/qultureicons.eot?p2yj4k');
  src:  url('/fonts/qultureicons.eot?p2yj4k#iefix') format('embedded-opentype'),
    url('/fonts/qultureicons.ttf?p2yj4k') format('truetype'),
    url('/fonts/qultureicons.woff?p2yj4k') format('woff'),
    url('/fonts/qultureicons.svg?p2yj4k#qultureicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    outline: none;
    min-height: 0;
    min-width: 0;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  border-top: 5px solid #6f42c1;
  min-width: 1024px;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
